# Python files
__pycache__/
*.py[cod]

# Python testing files
.coverage

# Ignore macOS Finder meta
.DS_Store
.tm_properties

# Ignore optional build / cache directory
/build

# Ignore generated resources
/resources/generated

# Android / Gradle
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
/app/build
/app/release
/app/debug

# Gradle wrapper
!gradle-wrapper.jar
